.header{
    color: #ee6e73
}

.button{
    background-color: #ee6e73;
    color: white;
}

.tabs .tab a{
    font-size: 1.3rem;
    color: #FF9A22
}

.banner, .image{
    width: 100%
}

.image-mobile-friendly{

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .image-naaz-matt{
    width: 50%;
  }

  .large-image{
      width:80%;
  }
/* On screens that are 992px or more */

  @media screen and (min-width: 992px) {
    .large-image{
        width:50%;
    }
  }

  .small-image{width: 40%}

  @media screen and (min-width: 992px) {
    .small-image{
        width:25%;
    }
  }

  .map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
